<div class='wrapper'>
  <section class='child' id='intro'>

    <div>
      <div class='logo'>
        <div class='line columns'>
          <div class='column is-4'></div>
          <div class='column is-4'></div>
          <div class='column is-4'></div>
        </div>
        <div class='line columns'>
          <div class='column is-8'></div>
          <div class='column is-3'></div>
        </div>
        <div class='line columns'>
          <div class='column is-3'></div>
          <div class='column is-8'></div>
        </div>
        <div class='animation'></div>
      </div>
      <h1>
        Flexbox & Position <br> Workshop
      </h1>
      <h2>
        Luizero
      </h2>
      <p>
        https://github.com/luizeroo/flexbox
      </p>
    </div>
  </section>
  <section class='child'>
    <div class='container'>
      <div class='columns'>
        <div class='column is-12'>
          <h1>
            O que é flexbox e quando utilizar?
          </h1>
          <!-- <h2>
                  Luizero
                </h2> -->
          <p>
            O módulo Flexbox é uma recomendação da W3C - é a principal organização de padronização da World Wide Web
            (WWW) - desde outubro de 2017 e atualmente é utilizado em maior parte dos navegadores modernos, porém, sendo apenas
            parcialmente usado no IE9 e I10. Sua taxa de uso nos <strong>navegadores é de 98% de implementação </strong> -
            enquanto o "grid layout" bate os 93%.
          </p>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-10'>
            <q cite='https://medium.com/@lucashenriquedeabreu/flexbox-layout-a2ab0f0a2f86'>
                Flexbox tem por objetivo fornecer uma forma mais fácil e objetiva de alinhar e distribuir os objetos dentro de um container, sempre levando em consideração que o tamanho pode ser ou não desconhecido.
            </q>
                <span>
                  Lucas Henrique de Abreu
                </span>
        </div>
        <div class='column is-2'>
            <i class="fab fa-medium"></i>
        </div>
      </div>
    </div>
  </section>
</div>