html,
body {
    overflow: hidden;
}

.wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.child {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    background-color: #aa7dce;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: #fff;
        text-decoration: underline;
    }

    &#intro,
    &#end,
    &#examples {
        * {
            text-align: center;
            margin: 2vh;
        }

        h1 {
            font-size: 4vw;
            font-weight: 500
        }

        h2 {
            font-size: 2vw;
            font-weight: lighter;
        }

        p {
            font-size: 1vw;
            opacity: .7
        }

        .logo {
            position: relative;
            width: 125px;
            height: 125px;
            margin: 0 auto;
            padding: 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;

            .animation {
                width: 100px;
                height: 100px;
                background-color: #f5d7e3;
                border-radius: 5px;
                transform: rotate(45deg);
                position: absolute;
                left: 0;
                top: 0;
                animation: spin-square ease-in-out 7s infinite alternate;
            }

            .line {
                width: 70px;
                margin: 0;
                height: 10px;
                z-index: 1;
                justify-content: space-between;

                .column {
                    background-color: #a8577e;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    &#examples,
    &.examples {

        .line {
            .column {
                background-color: hsl(204, 86%, 53%) !important;
            }
        }

        .animation {
            background-color: #fff !important;
        }
    }

    h1,
    h2,
    p {
        margin: 0;
    }

    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2vw;
        font-weight: lighter;
    }

    h3 {
        font-size: 1.8vw;
        font-weight: 500;
    }

    p {
        font-size: 1.3vw;
    }

    q {
        font-size: 2vw;
        font-style: italic;

        +span {
            display: block;
            text-align: right;
        }
    }

    &:nth-child(2) {

        i,
        svg {
            font-size: 5vw;
            animation: highlight ease-in-out 1s infinite alternate;
        }

        display: flex;
        align-items: center;

        .container {
            a {
                text-decoration: none;
            }
            .content {
                .is-2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            >div {
                margin: 10vh 0;

                .column.is-2 {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    &:nth-child(3) {
        .vs {
            justify-content: space-between;
        }
    }

    &:nth-child(4),
    &:nth-child(5) {
        code {
            margin: 10px 0;
            display: block;
            font-size: .8vw;

            span {
                padding-left: 10px;
                display: block;
            }
        }

        .example {
            align-items: center;

            .container {
                display: grid;
                grid-template-columns: 200px auto;
                grid-template-rows: 30px 100px 30px;
                grid-template-areas: "header header""aside main""footer footer";

                .header {
                    background-color: darkred;
                    grid-area: header;
                }

                .aside {
                    background-color: darkgreen;
                    grid-area: aside;
                }

                .main {
                    background-color: darkorange;
                    grid-area: main;
                    height: 200px;
                }

                .footer {
                    background-color: darkblue;
                    grid-area: footer;
                }
            }
        }

        .menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 10px auto;
            ul { list-style: none }
            li {
                padding: 10px;
                background-color: #a8577e;
                flex: 1;
                text-align: center;
            }
        }
    }

    &:nth-child(6) {
        .columns {
            margin: 20px 0;
        }
    }

    &:nth-child(7) {

        .columns {
            margin: 20px 0;
        }
    }
    &.display {
        .container > .columns  { justify-content: space-between }
        .flex, .default {
            background-color: #fff;
            height: 200px;
            border-radius: 10px;
            div {
                width: 100%;
                margin: 10px 0;
                height: 20px;
                background-color: darken(#00d1b2, 10%);
            }
        }
        .flex {
            display: flex;
            div {
                margin: 5px;
            }
        }
    }
    &.flex-direction {
        .show-examples {
            .example-content {
                height: 300px;
                background-color: #fff;
                border-radius: 15px;
                padding: 10px;
                width: 100%;
                display:flex;
                margin: 10px 0;
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 10px;
                    padding: 10px;
                }
                &.row {
                    flex-direction: row;
                }
                &.row-reverse {
                    flex-direction: row-reverse;
                }
                &.column {
                    flex-direction: column;
                }
                &.column-reverse {
                    flex-direction: column-reverse;
                }

            }
        }
    }

    &.flex-wrap {
        .is-12 {
            padding: 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                &.wrap {
                    flex-wrap: wrap
                }
                &.nowrap {
                    flex-wrap: nowrap;
                }
                &.wrap-reverse {
                    flex-wrap: wrap-reverse;
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    width: 100px;
                    font-size: 10px;
                }
            }
        }
    }

    &.flex-flow {
        .is-12 {
            padding: 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                &.row-nowrap {
                    flex-flow: row nowrap;
                }
                &.row-wrap {
                    flex-flow: row wrap;
                }
                &.column-nowrap {
                    flex-flow: column nowrap;
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    width: 100px;
                    font-size: 10px;
                }
            }
        }
    }

    &.justify-content {
        .is-12 {
            padding: 0;
        }
        .columns {
            margin: 20px 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                &.flex-start {
                    justify-content: flex-start
                }
                &.flex-end {
                    justify-content: flex-end
                }
                &.center {
                    justify-content: center
                }
                &.space-around {
                    justify-content: space-around
                }
                &.space-between {
                    justify-content: space-between
                }
                &.space-evenly {
                    justify-content: space-evenly
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    min-width: 50px;
                    font-size: 10px;
                    border-radius: 10px;
                }
            }
        }
    }

    &.justify-content-vertical {
        .column {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .columns {
            margin: 5px 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                flex-direction: column;
                height: 160px;
                &.flex-start {
                    justify-content: flex-start
                }
                &.flex-end {
                    justify-content: flex-end
                }
                &.center {
                    justify-content: center
                }
                &.space-around {
                    justify-content: space-around
                }
                &.space-between {
                    justify-content: space-between
                }
                &.space-evenly {
                    justify-content: space-evenly
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 2.5px;
                    padding: 5px;
                    width: 50px;
                    font-size: 10px;
                    border-radius: 10px;
                }
            }
        }
    }

    &.align-items {
        .is-12 {
            padding: 0;
        }
        .columns {
            margin: 20px 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                min-height: 100px;
                &.stretch {
                    align-items: stretch;
                }
                &.flex-start {
                    div {
                        height: 30px;
                    }
                    align-items: flex-start
                }
                &.flex-end {
                    div {
                        height: 30px;
                    }
                    align-items: flex-end
                }
                &.center {
                    div {
                        height: 30px;
                    }
                    align-items: center
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    width: 33%;
                    font-size: 10px;
                    border-radius: 10px;
                }
            }
        }
    }



    &.flex-grow {
        .is-12 {
            padding: 0;
            margin: 10px 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                &.flex-grow-0 {
                    div {
                        flex-grow: 0;
                    }
                }
                &.flex-grow-1 {
                    div {
                        flex-grow: 1;
                    }
                }
                &.flex-grow-3 {
                    div {
                        flex-grow: 1;
                    }
                    div:nth-child(2){
                        flex-grow: 3;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    font-size: 10px;
                }
            }
        }
    }

    &.flex-basis {
        .is-12 {
            padding: 0;
            margin: 10px 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                &.flex-basis-0 {
                    div {
                        flex-basis: 0;
                    }
                }
                &.flex-basis-1 {
                    div {
                        flex-basis: 100px;
                    }
                }
                &.flex-basis-3 {
                    div {
                        flex-basis: 10%;
                    }
                    div:nth-child(2){
                        flex-basis: 70%;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    font-size: 10px;
                }
            }
        }
    }

    &.order {
        .is-12 {
            padding: 0;
            margin: 10px 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                
                &.order-1 {
                    div:nth-child(2) {
                        order:-1;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                &.order-2 {
                    div {
                        order: 0;
                    }
                    div:nth-child(1) {
                        order:1;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                &.order-3 {
                    div {
                        order: 1;
                    }
                    div:last-child {
                        order:0;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }

                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    flex: 1;
                    font-size: 10px;
                }
            }
        }
    }

    &.align-self {
        .is-12 {
            padding: 0;
        }
        .columns {
            margin: 20px 0;
        }
        .show-examples {
            .example-content{
                background-color: #fff;
                border-radius: 15px;
                padding: 5px;
                width: 100%;
                display:flex;
                margin: 5px 0;
                min-height: 100px;
                align-items: center;
                &.flex-start{
                    align-items: center;
                    div:first-child {
                        align-self: flex-start;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                &.flex-end{
                    align-items: center;
                    div:first-child {
                        align-self: flex-end;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                &.center{
                    align-items: flex-start;
                    div:first-child {
                        align-self: center;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                &.stretch{
                    align-items: flex-start;
                    div:first-child {
                        align-self: stretch;
                        background-color: hsl(204, 86%, 53%) !important;
                        animation: blink ease-in-out 1s infinite alternate;
                    }
                }
                div {
                    background-color: darken(#00d1b2, 10%);
                    margin: 5px;
                    padding: 5px;
                    width: 33%;
                    font-size: 10px;
                    border-radius: 10px;
                }
            }
        }
    }

    &.references {
        .frog {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            i, svg {
                font-size: 45px;
                animation: highlight ease-in-out 1s infinite alternate;
            }
        }
    }
}


@keyframes blink {
    0% {
        filter: saturate(100%)
    }
    100% {
        filter: saturate(300%)
    }
}

@keyframes spin-square {

    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(315deg);
    }
}

@keyframes highlight {

    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.2)
    }
}

* {

    span,
    strong,
    em,
    i {
        color: inherit;
    }
}

ul {
    list-style: initial;
    padding: 10px 0;
}

.link-to-flexbox-repository {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 1;
    transition: .3s;
    * {
        color: #fff;
    }
    i, svg {
        font-size: 30px;
    }
    &:hover {
        transform: scale(1.1)
    }
}